################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/NBD/FileContentIndex/0c4835eb-9f79-4579-8cca-084e8823d4f1.vsidx
